<!DOCTYPE html>
<html>
  <body style="background-color:whitesmoke;"></body>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>MINI PROJECT-PRIME INVESTMENT AND RISK MANAGEMENT</h2>

<table style="width:100%">
  <tr>
    <th>NAME</th>
    <th>ROLL NO</th>
  </tr>
  <tr>
    <td>Viswanthram</td>
    <td>814719104058</td>
    
  </tr>
  <tr>
    <td>Sanjith</td>
    <td>814719104042</td>
    </tr>
</tr>
<tr>
    <td>Muthamilselvan</td>
    <td>814719104033</td>
    </tr>
</tr>

    <tr> 
        <td>Harishkumar</td>
        <td>814719104013</td>
        </tr>
    </tr>

</table>
</body>
</html>

